body {
	background-image: url("images/happy_photo.jpg")
}


.content {
	width:960px;
	text-align: center;
	font-size: 30px;
	border:1px red solid;
	margin-top: 700px;
	margin-left: 800px;
	color:red;
	font-family: "Times New Roman", Times, serif;
}