<!DOCTYPE html>
<html>
<head>
	<title>Wine Quality Classifier</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
	<!--<link rel="stylesheet" type="text/css" href="../static/css/style2.css"> -->
	<link rel="shortcut icon" type="image/x-icon" href="../static/css/images/favicon.ico" />
</head>
<body>
 <div class="container">
 	<div class="header">
 		
 		<h1>Predict Wine Quality</h1>
	</div>
	

     <!-- Main Input For Receiving Query to our ML -->
    	<form action="{{ url_for('predict')}}"method="post" autocomplete="off">
    		<div class="application-form">
	    		<div class="row">
		    		<div class="column1">
			    		
			    		<span class="texts" >Fixed Acidity</span>
			    		<div class='text'>
			    			<input type="text" name='fixed acidity' placeholder="Please enter a number" required="required" />
			    		</div>
			    		
			    		<span class="texts" >Volatile Acidity</span>
			    		<div class='text'>
			    			<input type="text" name='volatile acidity' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >Citric Acid</span>
						<div class='text'>
			    			<input type="text" name='citric acid' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >Residual Sugar</span>
						<div class='text'>
			    			<input type="text" name='residual sugar' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >Chlorides</span>
						<div class='text'>
			    			<input type="text" name='chlorides' placeholder="Please enter a number" required="required" />
			    		</div>
			    		
			    	</div>
			    	<div class="column2">
			    		
			    		<span class="texts" >Free Sulfur Dioxide</span>
			    		<div class='text'>
			    			<input type="text" name='free sulfur dioxide' placeholder="Please enter a number" required="required" />
			    		</div>
			    		
			    		<span class="texts" >Total Sulfur Dioxide</span>
			        	<div class='text'>
			    			<input type="text" name='total sulfur dioxide' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >Density</span>	
						<div class='text'>
			    			<input type="text" name='density' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >pH</span>
						<div class='text'>
							<input type="text" name='pH' placeholder="Please enter a number" required="required" />
			    		</div>
						
						<span class="texts" >Sulphates</span>
						<div class='text'>
			    			<input type="text" name='sulphates' placeholder="Please enter a number" required="required" />
			    		</div>
					    
					    <span class="texts" >Alcohol</span>
					    <div class='text'>
							<input type="text" name='alcohol' placeholder="Please enter a number" required="required" />
						</div>
			     	</div>  	
			       </div>
			</div>
			
			
				<button type="submit" class="mybutton" value="predict">Predict</button>
        </form>

 	<div class="output">
 			{{prediction_text}}

 	</div>
 </div>



<a target="_blank" rel="noopener noreferrer" href="https://archive.ics.uci.edu/ml/datasets/wine" class="mylink">About Dataset</a>

</div>


</body>
</html>

